---
name: CI
on: [ workflow_dispatch, push, pull_request ]
jobs:
  omnilint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: docker://lpenz/omnilint:0.5.1
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
        with:
          config-file: '.github/config/mlc_config.json'
  publish-github-release:
    needs: [ omnilint, markdown-link-check ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - id: version
        uses: docker://lpenz/ghaction-version-gen:0.13.6
      - name: publish github release
        uses: "marvinpinto/action-automatic-releases@v1.2.1"
        if: steps.version.outputs.version_tagged != ''
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
